<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project HTML-VUE</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        
        <!-- container -->
        <div id="app">
            <!-- header -->
            <header>
                <!-- navbar -->
                <nav class="d_flex">
                    <!-- parte sinistra della navbar -->
                    <div class="logo_navbar">
                        <img src="./assets/img/white-logo-2.png" alt="logo Phlox corporate">
                    </div>
                    <!-- /parte sinistra della navbar -->

                    <!-- parte destra della navbar -->
                    <div class="link_navbar">
                        <ul class="d_flex">
                            <!-- link della navbar -->
                            <li v-for="link in listLinkNavbar">
                                <a href="#">{{link}}</a>     
                            </li>
                            <!-- /link della navbar -->
                            <button>Sign In</button>
                        </ul>
                    </div>
                    <!-- parte destra della navbar -->
                </nav>
                <!-- /navbar -->

                <!-- jumbotron -->
                <div class="jumbodron d_flex">
                    <h1>Businnes Planning</h1>
                    <h2 class="titolo_magro">Digital Technology</h2>
                    <h2>Modern Solution!</h2>
                    <div>
                        When, while the lovely valley teems with vapour around<br>
                        meand the meridian sun strikes the upper surface.
                    </div>
                    <div>
                        <button>Try it Now</button>
                        <button>Explore More</button>
                    </div>
                </div>
                <!-- /jumbotron -->
            </header>
            <!-- /header -->

            <!-- main -->
            <main>
                <!-- servizi -->
                <section class="servizi">
                    <div>Our services</div>
                    <h3>What <span>We Do</span></h3>
                    <div class="c_grey">When,while the lovely valley teems with vapour around meand the</div>
                    
                    <!-- card container -->
                    <div class="d_flex">
                        <!-- card -->
                        <div class="card_servizi" v-for="card in cards">
                            <img :src="`assets/img/${card.img}`" alt="">
                            <h4>{{card.titolo}}</h4>
                            <div class="c_grey">{{card.testo}}</div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- card container -->
                    
                    <button>View All Services</button>
                </section>
                <!-- /servizi -->

                <!-- start your project -->
                <section class="start_your_project d_flex">
                    <div class="d_flex"><img src="./assets/img/men-data.png" alt=""></div>
                    <div>
                        <div>Start Your Project</div>
                        <h3>Grow Your Business</h3>
                        <h3 class="titolo_magro">With Our Strategy</h3>
                        <div><p>When,while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .of the impenetrable follage of my trees, and but a few stray gleams steal into the inner sanctuary.</p></div>
                        <button>Try it Now</button>
                        <button>Explore More</button>
                    </div>
                </section>
                <!-- /start your project -->

                <!-- portfolio -->
                <section class="portfolio">
                    <div>Portfolio</div>
                    <div class="d_flex">
                        <div>latest work</div>
                        <div>
                            <button @click = "indietro">left</button>
                            <button @click = "avanti">right</button>
                        </div>
                    </div>
                    <div class="slider-wrapper">
                        <div class="images d_flex">
                            <img :src="immagini[contatore1]"> 
                            <img :src="immagini[contatore2]"> 
                            <img :src="immagini[contatore3]"> 
                            <img :src="immagini[contatore4]">    
                            <img :src="immagini[contatore5]"> 
                        </div>
                        <div class="nav">
                            <i class="fas fa-circle" :class="(index == contatore1) ? 'active' : null" v-for="(immagine, index) in immagini"></i>
                        </div>
                    </div>
                </section>
                <!-- /portfolio -->

                <!-- listino prezzi -->
                <section class="listino_prezzi"></section>
                <!-- /listino prezzi -->

                <!-- blog e testimonial -->
                <section class="blog_testimonial"></section>
                <!-- /blog e testimonial-->
            </main>
            <!-- /main -->
            
            <!-- footer -->
            <footer>
                <!-- contenuto footer -->
                <div class="contenuto_footer"></div>
                <!-- /contenuto footer -->

                <!-- footer navbar -->
                <div class="footer_navbar"></div>
                <!-- /footer navbar -->
            </footer>
            <!-- /footer -->


        </div>
        <!-- /container -->

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="assets/js/main.js" charset="utf-8"></script>    
    </body>
</html>