*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.d_flex{
    display: flex;
}

/* header */
header{
    background-color: orange;
    height: 550px;
    width: 100vw;
}
nav{
    background-color: yellow;
    height: 60px;
    width: 90%;
    margin:auto;
}

/* main */
main{
    background-color: red;
    height:3270px;
    width: 100vw;
}
.servizi, .start_your_project, .listino_prezzi, .blog_testimonial{
    width: 90%;
    margin:auto;
} 
.servizi{
    background-color: aqua;
    height:570px;
}
.start_your_project{
    background-color: blue;
    height: 420px;
}
.portfolio{
    background-color: aqua;
    height: 480px;
    width: 100%;
}
.listino_prezzi{
    background-color: blue;
    height: 370px;
}
.blog_testimonial{
    background-color: aqua;
    height: 1430px;
}

/* footer */
footer{
    background-color: green;
    width:100vw;
}
.contenuto_footer{
    background-color: black;
    height: 220px;
    width: 90%;
    margin:auto;
}
.footer_navbar{
    background-color: grey;
    height:60px;
    width:100%
}