*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/********** UTILITY **********/
.d_flex{
    display: flex;
}
.c_grey{
    color: #888888
}
.c_orange{
    color:#F9636B
}
#app{
   flex-direction: column; 
   align-items: center;
}
/********** HEADER **********/
header{
    background-image: linear-gradient(360deg, rgba(4,4,39,1) 0%, rgba(11,25,82,1) 100%);
    height: 767px;
    width: 1440px;
}
/* navbar */
nav{
    height: 73px;
    width: 1236px;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}

.logo_navbar img{
    width: 130px;
}
.link_navbar ul li{
    list-style: none;
}
.link_navbar ul li a{
    text-decoration: none;
    padding: 0 10px;
    color:white;
}
.link_navbar button{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,163,208,1) 0%, rgba(30,64,131,1) 100%);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
    margin-left: 30px;
}

.jumbodron{
    height: 490px;
    color: white;
    margin-left: 10%;
    justify-content: space-between;
}
.jumbodron h1, .jumbodron h2{
    font-size: 45px;
}
.titolo_magro{
    font-weight: 400;
}
.jumbodron div{
    color: #03A7D3E6;
    padding: 30px 0;
}
.jumbodron button{
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
}
.jumbodron button:first-child{
    background: linear-gradient(270deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 62%);
    padding: 10px 30px;
}
.jumbodron button:first-child:hover{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,163,208,1) 0%, rgba(30,64,131,1) 100%);
}
.jumbodron button:last-child{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,163,208,1) 0%, rgba(30,64,131,1) 100%);
    margin: 0 20px;
}
.jumbodron button:last-child:hover{
    background: linear-gradient(270deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 62%);
}
.jumbodron img{
    width: 510px;
    margin-right: 180px;
    margin-top: 30px;
}

/********** MAIN **********/
main{
    width: 1440px;
}
.servizi{
    width: 1236px;
    margin:auto;
} 

/* servizi */
.servizi{
    background-color: white;
    height:815px;
    text-align: center;
}
.servizi > div:first-child{
    padding-top: 50px;
}
.servizi h3{
    margin: 10px 0;
    font-size: 30px;
}
.card_servizi{
    background-color: white;
    height: 300px;
    width: 25%;
    padding: 30px 50px;
    margin: 100px 0;
    position: relative;
}
.card_servizi:hover > div{
    background-image: linear-gradient(360deg, rgba(4,4,39,1) 0%, rgba(11,25,82,1) 100%);
    border-radius: 20px;
    color: white;
    position: absolute;
    left: 0;
    top: 70px;
    padding-top: 100px;
    padding-bottom:21px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.card_servizi:hover > div > div{
    color: white;
}
.card_servizi:hover  i{
    visibility: visible;
    position: absolute;
    right: 130px;
}
.card_servizi:hover img{
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    position: absolute;
    right: 92px;
    z-index: 2;
}
.card_servizi:first-child:hover img{
    right: 103.5px;
}
.card_servizi:nth-child(3):hover img{
    right: 95px;
}
.card_servizi:last-child:hover img{
    right: 90px;
}
.card_servizi img{
    height:100px;
    margin-bottom: 40px;
}
.card_servizi h4{
    margin-bottom: 30px;
}
.card_servizi i{
    background: linear-gradient(325deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 62%);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    visibility: hidden;
}
.servizi button{
    background: linear-gradient(325deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 62%);
    border: none;
    border-radius: 25px;
    color: white;
    padding:10px 30px;
    margin-top: 40px;
    box-shadow: 1px 1px 25px #F9636B;
}

/* start_your_project */
.start_your_project{
    background-image: linear-gradient(360deg, rgba(4,4,39,1) 0%, rgba(11,25,82,1) 100%);
    height: 592px;
    align-items: center;
    color: white;
}
.start_your_project > div{
    width: 50%;
}
.start_your_project > div:first-child{
    justify-content: center;
}
.start_your_project > div > div:first-child{
    margin-bottom: 30px;
}
.img_container{
    position: relative;
}
.start_your_project img:first-child{
    height: 400px;
    position: absolute;
    left: 200px;
    top: 40px;
}
.start_your_project img:last-child{
    height: 350px;
    margin-right: 50px;
    margin-bottom: 110px;
}
.start_your_project h3{
    font-size: 45px;
}
.start_your_project p{
    color: #03A7D3E6;
    padding-right: 300px;
    margin: 30px 0;
}
.start_your_project button{
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 30px;
}
.start_your_project button{
    background: linear-gradient(270deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 62%);
}
.start_your_project button:hover{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,163,208,1) 0%, rgba(30,64,131,1) 100%);
}
.start_your_project button:last-child{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,163,208,1) 0%, rgba(30,64,131,1) 100%);
    margin: 0 20px;
    padding: 10px 20px;
}
.start_your_project button:last-child:hover{
    background: linear-gradient(270deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 62%);
}
/* portfolio */
.portfolio{
    background-color: #FFFFFF;
    height: 680px;
    max-width: 100%;
}
.portfolio .container_testo_portfolio{
    margin-left: 10%;
}
.portfolio > .container_testo_portfolio > div:first-child{
    margin-top: 85px;
}
.arrow_text_container{
    justify-content: space-between;
}
.portfolio h3{
    font-size: 30px;
    margin-bottom: 70px;
}
.portfolio h3 > span{
    font-size: 25px;
}
.portfolio .arrow{
    font-size: 30px;
    margin-right: 10%;
}
.images{
    flex-direction: row-reverse;
}
.portfolio .card_portfolio{
    background-color: white;
    height:250px;
    border-radius: 20px;
    position: relative;
    left: 0;
    margin: 0 1%;
    box-shadow: 1px 1px 15px lightgrey;
}
.portfolio .card_portfolio:hover{
    background: linear-gradient(315deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 60%);
}
.portfolio img{
    width: 100%;
    border-radius: 20px;
}
.portfolio .container_text_portfolio{
    justify-content: space-between;
    margin-top: 12px;
    padding: 0 10px;
}
.portfolio .card_portfolio span{
font-size: 13px;
}
.portfolio .nav{
    text-align: center;
    margin-top: 70px;
}
.nav > i {
    color: lightgrey;
    padding: 0 5px;
    margin-top: 70px;
}
.nav > i.active {
    color: #F9636B;
}

/* listino prezzi */
.listino_prezzi{
    background-image: linear-gradient(270deg, rgba(4,4,39,1) 0%, rgba(11,25,82,1) 100%);
    height: 527px;
    color: white;
    text-align: center;
}
.listino_prezzi div:first-child{
    padding-top: 55px;
}
.listino_prezzi h3{
    font-size: 30px;
    margin: 10px 0;
}
.listino_prezzi .card_listino_prezzi{
    border-radius: 20px;
    display: inline-block;
    background: linear-gradient(315deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 60%);
    margin: 0 30px;
    width: 375px;
    height: 556px;
    position: relative;
    top: 80px;
    padding: 30px;
    box-shadow: 1px 1px 15px lightgrey;
}

.listino_prezzi .card_listino_prezzi:nth-child(even){
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%);
    color: black;
    
}
.listino_prezzi .card_listino_prezzi h4{
    font-size: 25px;
}
.listino_prezzi .card_listino_prezzi h5{
    font-weight: 300;
}
.listino_prezzi .card_listino_prezzi .dollaro{
    position: relative;
    right: 50px;
    margin-top: 30px;
    padding-bottom: 0;
}
.listino_prezzi .card_listino_prezzi div{
    font-size: 10px;
    padding: 8px 0;
}
.listino_prezzi .card_listino_prezzi .numero{
    font-size: 70px;
    font-weight: bold;
}
.listino_prezzi .card_listino_prezzi .month{
    margin-bottom: 50px;
}
.listino_prezzi button{
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    background: linear-gradient(360deg, rgba(244,94,107,1) 0%,rgba(185,39,110,1) 62%);
    margin-top: 40px;
    box-shadow: 1px 1px 25px #F9636B;
}
.listino_prezzi .card_listino_prezzi:nth-child(odd) button{
    color: #F9636B;
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%);
}
.listino_prezzi button i{
   padding-left: 50px;
}

/* blog e testimonial */
.blog_testimonial{
    background-color: white;
    height: 1954px;
    padding-top: 250px;
    text-align: center;
    color: black;
}
.blog_testimonial > div:first-child{
    margin-top: 170px;
}
.blog_testimonial p{
    font-size: 12px;
}
.blog_testimonial h3{
    margin: 20px 0;
    font-size: 30px;
}
.blog_testimonial .card_container{
    width: 100%;
    margin-top: 60px;
}
.blog_testimonial .card_container h4{
    font-size: 20px;
}
.blog_testimonial .card_blog_grande{
    background-image: url(../img/mano.jpg);
    background-size:cover;
    border-radius: 20px;
    width: 597px;
    height: 345px;
    margin-left: 82px;
}
.blog_testimonial .card_blog_grande_black{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    color: white;
    text-align: left;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px;
}
.blog_testimonial .card_blog_grande_black h4{
    margin: 10px 0;
}
.blog_testimonial .card_blog{
    background: linear-gradient(135deg, rgb(2, 2, 48) 0%, rgb(21, 45, 105) 92%);
    border-radius: 20px;
    width: 288px;
    height: 345px;
    margin-left: 50px;
    text-align: left;
    color: white;
    padding: 20px;
}
.blog_testimonial .card_blog p:first-child{
    margin: 30px 0;
}
.blog_testimonial .card_blog h4{
    margin: 30px 0;
}
.blog_testimonial .card_blog button{
    margin-top: 64px;
}
.blog_testimonial .card_blog:last-child button{
    margin-top: 40px;
}
    
.blog_testimonial button{
    border: none;
    border-radius: 25px;
    color: #00000080;
    background-color: white;
    padding: 10px 20px;
}
.blog_testimonial .card_testimonial{
    flex-direction: row;
    display: inline-block;
    width: 22%;
    margin: 0 40px;
    margin-top: 80px; 
}
.blog_testimonial .card_testimonial img{
    width: 80px;
    border: 4px solid #B6246E;
    border-radius: 50%;
} 
.blog_testimonial .card_testimonial i{
    margin: 40px 0;
    color: #B6246E;
} 

.blog_testimonial .card_testimonial h4{
    margin-top: 30px;
    margin-bottom: 10px;
} 
.margin_top{
    margin-top: 50px;
}
.loghi{
    list-style: none;
    margin-top: 150px;
    justify-content: space-around;
}
.blog_testimonial .input_container{
    height: 200px;
    width: 80%;
    margin: auto;
    background: linear-gradient(270deg, rgba(244,94,107,1) 0%, rgba(185,39,110,1) 62%);
    border-radius: 20px;
    position: relative;
    top: 110px;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: left;
    padding: 0 30px;
}
.blog_testimonial .input_container h1{
    margin-bottom: 10px;
}
.blog_testimonial .input_container div:last-child{
    width: 400px;
    background-color: white;
    border-radius: 25px;
    padding: 3px;
}
.blog_testimonial .input_container button{
    border: none;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(90deg, rgba(2,2,42,1) 0%, rgba(4,163,208,1) 0%, rgba(30,64,131,1) 100%);
    padding: 10px 20px;
    margin-left: 130px;
}
.blog_testimonial .input_container input{
    border: 1px solid white;
    margin-left: 12px;
}
/********** FOOTER **********/
footer{
    background-image: linear-gradient(360deg, rgba(4,4,39,1) 0%, rgba(11,25,82,1) 100%);
    width:1440px;
    height: 460px;
}
.contenuto_footer{
    height: 420px;
    width: 1236px;
    margin:auto;
    padding-top: 200px;
    color: #888888;
    font-size: 12px;
    justify-content: space-between;
}
.contenuto_footer .card_footer{
    margin: 20px;
    width: 400px;
}
.contenuto_footer h5{
    font-size: 16px;
}
.contenuto_footer h5, .contenuto_footer b{
    color: white;
}
.contenuto_footer .prima img{
    margin-bottom: 30px;
}
.contenuto_footer .seconda h5{
    margin-bottom: 20px;
}
.contenuto_footer .seconda div{
    margin: 10px 0;
}
.contenuto_footer .terza h5{
    margin-bottom: 25px;
}
.contenuto_footer .terza div{
    margin: 10px 100px;
}
.contenuto_footer .quarta h5{
    margin-bottom: 25px;
}
.contenuto_footer .quarta > div:nth-child(2){
    margin-bottom: 20px;
}
.footer_navbar{
    height:73px;
    width:100%;
    justify-content: space-between;
    color: #888888;
}
.footer_navbar > div:first-child{
    margin-left: 10%;
}
.footer_navbar div i{
    color: white;
    margin-left: 20px;
    font-size: 14px;
}
.footer_navbar div i:last-child{
    background-color: #527CEB;
    padding: 10px;
    border-radius: 50%;
    margin-left: 80px;
    margin-right: 10px;
    font-size: 18px;
}