*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/********** UTILITY **********/
.d_flex{
    display: flex;
}
.c_grey{
    color: #888888
}

/********** HEADER **********/
header{
    background-color: rgb(0, 0, 49);
    background-image: url(../img/header.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 81% 40%;
    height: 650px;
    width: 100vw;
}
/* navbar */
nav{
    height: 60px;
    width: 80%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}

.logo_navbar img{
    width: 130px;
}
.link_navbar ul li{
    list-style: none;
}
.link_navbar ul li a{
    text-decoration: none;
    padding: 0 10px;
    color:white;
}
.link_navbar button{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px 8px;
    margin-left: 30px;
}

.jumbodron{
    height: 590px;
    color: white;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
}
.jumbodron h1, .jumbodron h2{
    font-size: 45px;
}
.titolo_magro{
    font-weight: 400;
}
.jumbodron div{
    color: #03A7D3E6;
    padding: 30px 0;
}
.jumbodron button{
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
}
.jumbodron button:first-child{
    background: linear-gradient(270deg, rgba(255,70,70,1) 0%, rgba(209,33,99,1) 62%);
}
.jumbodron button:last-child{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
    margin: 0 20px;
}

/********** MAIN **********/
main{
    height:3270px;
    width: 100vw;
}
.servizi, .listino_prezzi, .blog_testimonial{
    width: 90%;
    margin:auto;
} 

/* servizi */
.servizi{
    background-color: white;
    height:710px;
    text-align: center;
}
.servizi > div:first-child{
    padding-top: 50px;
    color: #F9636B
}
.servizi h3{
    margin: 10px 0;
    font-size: 30px;
}
.card_servizi{
    background-color: white;
    height: 300px;
    width: 25%;
    padding: 30px 50px;
    margin: 100px 0;
}
.card_servizi img{
    height:100px;
    margin-bottom: 40px;
}
.card_servizi h4{
    margin-bottom: 30px;
}
.servizi button{
    background: linear-gradient(270deg, rgba(255,70,70,1) 0%, rgba(209,33,99,1) 62%);
    border: none;
    border-radius: 25px;
    color: white;
    padding:10px 20px;
}

/* start_your_project */
.start_your_project{
    background-image: url(../img/nemoodar.png) ;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 15% 22%;
    background-color: rgb(0, 0, 49);
    height: 500px;
    align-items: center;
    color: white;
}
.start_your_project > div{
    width: 50%;
}
.start_your_project > div:first-child{
    justify-content: center;
}
.start_your_project > div > div:first-child{
    margin-bottom: 30px;
}
.start_your_project img{
    height: 350px;
}
.start_your_project h3{
    font-size: 45px;
}
.start_your_project p{
    color: #03A7D3E6;
    padding-right: 300px;
    margin: 30px 0;
}
.start_your_project button{
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
}
.start_your_project button{
    background: linear-gradient(270deg, rgba(255,70,70,1) 0%, rgba(209,33,99,1) 62%);
}
.start_your_project button:last-child{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
    margin: 0 20px;
}
/* portfolio */
.portfolio{
    background-color: #FFFFFF;
    height: 570px;
    max-width: 100%;
}
.portfolio .container_testo_portfolio{
    margin-left: 10%;
}
.portfolio > .container_testo_portfolio > div:first-child{
    color: #F9636B;
    margin-top: 70px;
}
.arrow_text_container{
    justify-content: space-between;
}
.portfolio h3{
    font-size: 30px;
    margin-bottom: 70px;
}
.portfolio h3 > span{
    font-size: 25px;
}
.portfolio .arrow{
    font-size: 30px;
    margin-right: 10%;
    color: #F9636B;

}
.images{
    flex-direction: row-reverse;
}
.portfolio .card_portfolio{
    background-color: white;
    height:250px;
    border-radius: 20px;
    position: relative;
    left: 0;
    margin: 0 1%;
    box-shadow: 1px 1px 15px lightgrey;
}
.portfolio img{
    width: 100%;
    border-radius: 20px;
}
.portfolio .container_text_portfolio{
    justify-content: space-between;
    margin-top: 12px;
    padding: 0 10px;
}
.portfolio .card_portfolio span{
font-size: 13px;
}
.portfolio .nav{
    text-align: center;
    margin-top: 70px;
}
.nav > i {
    color: lightgrey;
    padding: 0 5px;
}
.nav > i.active {
    color: #F9636B;
}
/* listino prezzi */
.listino_prezzi{
    background-color: blue;
    height: 370px;
}
.blog_testimonial{
    background-color: aqua;
    height: 1430px;
}

/********** FOOTER **********/
footer{
    background-color: green;
    width:100vw;
}
.contenuto_footer{
    background-color: black;
    height: 220px;
    width: 90%;
    margin:auto;
}
.footer_navbar{
    background-color: grey;
    height:60px;
    width:100%
}